* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  height: 100vh;
}

.cards {
  height: 14.563rem;
}

.card-back {
  width: 18em;
  height: 10em;
}

.card-front {
  width: 18em;
  height: 10em;
  background-image: url(/images/bg-card-front.png);
}

input {
  padding: 10px;
  border-radius: 10px;
}

.date-cvc-container {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

form {
  height: 25em;
  width: 25rem;
}

.info {
  font-size: 0.5rem;
}

.error {
  display: none;
}

.thank-you-text {
  font-size: 2rem;
}

.active {
  display: none;
}

@media (min-width: 640px) {
  .sm\:right-3 {
    right: 0.75rem; /* Ajusta según necesites */
  }
  /* Añade más ajustes según sea necesario */
}
