* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  height: 100vh;
}

.cards {
  height: 233px;
}

.card-back {
  width: 16.875rem;
  height: 9.375rem;
}

.card-front {
  width: 16.875rem;
  height: 9.375rem;
  background-image: url(/images/bg-card-front.png);
}

input {
  padding: 10px;
  border-radius: 10px;
}

.date-cvc-container {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.info {
  font-size: 0.5rem;
}

.error {
  display: none;
}

.thank-you-text {
  font-size: 2rem;
}

.active {
  display: none;
}
