* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

.upper-container {
  width: 20rem;
}

.img {
  width: 16em;
  height: 8em;
}

.card-front {
  width: 16em;
  height: 8em;
  background-image: url(bg-card-front.png);
}

input {
  padding: 10px;
  border-radius: 10px;
}

.date-cvc-container {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

form,
#message {
  height: 25em;
  width: 20rem;
}

.info {
  font-size: 0.5rem;
}

.error {
  display: none;
}

.thank-you-text {
  font-size: 2rem;
}

.active {
  display: none;
}
